%h1 Listing articles
= link_to 'My articles', my_articles_path

%table
  %tr
    %th Title
    %th Text
    %th Creator
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.text
      %td= article.user.try :email
      %td= link_to 'Show', article
      %td= link_to 'Edit', edit_article_path(article) if can? :edit, article
      %td= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' } if can? :destroy, article


%br

= will_paginate

= link_to 'New Article', new_article_path
